@import "./variables";

.btn {
  text-transform: capitalize;
  background-color: rgb(255, 255, 255);
  color: rgb(99, 115, 129);
  cursor: pointer;
  padding: 0.65em 1.25em;
  font-family: $ff-medium;
  border-radius: 1.5em;
  border: $oneDotFivePx solid transparent;
  font-size: $fs-12;
  outline: none;

  &:hover,
  &:focus {
    box-shadow: rgb(231, 234, 238) 0 0.5rem 1.5rem;

    &:disabled {
      box-shadow: inset;
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: rgb(108, 117, 125);
    background-color: transparent;
    border-color: rgb(108, 117, 125);
    opacity: 0.65;
  }

  &.primary {
    border-color: transparent;
    background-color: rgb(15, 76, 255);
    color: rgb(255, 255, 255);
    background-origin: border-box;
    text-align: center;

    &:hover,
    &:focus {
      box-shadow: rgb(15 76 255) 0 0.05rem 0.1rem;

      &:disabled {
        box-shadow: none;
      }
    }
  }

  &.secondary {
    border-color: rgb(15, 76, 255);
    color: rgb(15, 76, 255);

    &:hover,
    &:focus {
      box-shadow: rgb(15 76 255) 0 0.05rem 0.1rem;

      &:disabled {
        box-shadow: none;
      }
    }

    &:disabled {
      background-color: rgb(108, 117, 125);
      border-color: rgb(108, 117, 125);
      color: rgb(255, 255, 255);
      box-shadow: rgb(108, 117, 125) 0 0 0.05rem 0.1rem;
    }
  }
}
