@import "./variables";

.btn {
  text-transform: capitalize;
  background-color: rgb(255, 255, 255);
  color: rgb(99, 115, 129);
  cursor: pointer;
  padding: 0.65em 1.25em;
  font-family: $ff-medium;
  border-radius: 1.5em;
  border: $oneDotFivePx solid transparent;
  font-size: $fs-12;
  outline: none;

  &:hover,
  &:focus {
    box-shadow: 0 0 0.8rem rgb(231, 234, 238);

    &:disabled {
      box-shadow: inset;
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: rgb(108, 117, 125);
    background-color: transparent;
    border-color: rgb(108, 117, 125);
    opacity: 0.65;
  }
}
