//font sizes
$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-28: 1.75rem;
$fs-32: 2rem;
$fs-36: 2.25rem;
$fs-40: 2.5rem;
$fs-48: 3rem;
$fs-64: 4rem;

// font family

$ff-regular: Poppins-Regular;
$ff-medium: Poppins-Medium;
$ff-bold: Poppins-Bold;
$ff-semibold: Poppins-Semibold;
$ff-light: Poppins-Light;
$ff-black: Poppins-Black;
$ff-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

// font weights
$fw-normal: 500;
$fw-bold: 700;
$fw-bolder: 900;

//commonly used sizes
$onePx: 0.0625rem;
$oneDotFivePx: 0.09375rem;

//standard colors
$success-clr: rgb(40, 167, 69);
$info-clr: rgb(23, 162, 184);
$warning-clr: rgb(255, 193, 7);
$danger-clr: rgb(220, 53, 69);

// breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 36em; // 576px
$breakpoint-md: 48em; // 768px
$breakpoint-lg: 62em; // 992px
$breakpoint-xl: 75em; // 1200px
