@import "../assets/scss/variables";

.accountInfo__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .backTo {
    align-self: flex-start;
    display: flex;
    gap: 0.5em;
    align-items: center;

    i {
      font-size: $fs-18;
    }
  }

  .profilePic i {
    font-size: $fs-64;
  }

  .accountName {
    display: flex;
    gap: 0.5em;

    h2 {
      font-size: $fs-20;
    }
    .settings {
      font-size: $fs-16;
    }
  }

  .role {
    font-size: $fs-14;
    color: rgb(63, 89, 117);
    font-weight: $fw-bold;
    margin-bottom: 0.5em;
  }

  .switchWrapper {
    display: flex;
    gap: 0.5em;
    align-items: center;

    .statusLabel {
      color: rgb(63, 90, 118);
      font-weight: $fw-bold;
    }
  }

  @media (prefers-color-scheme: dark) {
    .role {
      color: rgb(167, 167, 167);
    }

    .switchWrapper .statusLabel {
      color: rgb(175, 175, 175);
    }
  }
}
