html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #534a4a5c;
  border-radius: 0.625em;
}

::-webkit-scrollbar-thumb:hover {
  background: #0000005c;
}

::-webkit-scrollbar-track:hover {
  background: #f1f1f1;
}

@supports (scrollbar-color: #534a4a5c) {
  * {
    scrollbar-color: #534a4a5c transparent;
    scrollbar-width: thin;
  }
}
