@import "../assets/scss/partial";

.error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.error {
  margin-top: 0.5rem;
  width: 100%;
  color: $error;
  font-size: $fs-12;
  margin-left: 0.2rem;
}
