@import "../assets/scss/variables";

.overlay {
  position: fixed;
  display: block;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1.2rem);
  transition: opacity 0.15s linear;
}

.modal {
  position: relative;
  width: auto;
  margin: 0.5rem;

  &.centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 3.5em);
  }

  .modal__content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.125rem 4rem rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 0.5em;
    max-height: 100%;

    &.scrollable {
      overflow: hidden;
    }

    .content__header {
      display: flex;
      padding: 1em;
      justify-content: space-between;
      align-items: center;

      .header__title {
        font-size: $fs-18;
      }

      .header__icon i {
        font-size: $fs-18;
      }
    }
  }
}
